*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: auto;
	display: block;
	position: relative;
}

::-webkit-scrollbar {
	display: none;
	overflow: scroll;
}

#slider {
	height: 100vh;
	// img {
	// 	width: 100%;
	// 	height: 100%;
	// 	object-fit: cover;
	// 	line-height: 0;
	// }
}
